<div class="container" [ngClass]="getBgColor()">
  <div class="icon-bar" ></div>
  <div class="main-card">
    <div class="category-div">
      <h2>{{ title }}</h2>
      <div>
        <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" /></svg>
      </div>
    </div>
    <div class="hours-div">
      <h3>{{ getCurrentHours() }}</h3>
      <p>{{ getPreviousHours() }}</p>
    </div>
  </div>
</div>
