ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    max-width: 270px;
    margin: 0 auto;
}

li {
    cursor: pointer;
}

li:hover {
    color: white;
}

img {
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 100%;
}

h1 {
    font-size: 1.4rem;
    font-weight: 300;
}

p {
    font-size: 0.9rem;
    color: var(--neutral-4);
    margin-bottom: 0.2rem;
}

.container {
    background-color: var(--neutral-2);
    border-radius: 15px;
}

.profile {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    background-color: var(--primary-blue);
    color: white;
}

.timeframe-select {
    padding: 1.4rem;
    color: var(--neutral-3);
    font-size: 1.2rem;
}

.selected-timeframe {
    color: white;
}

@media (min-width: 768px) {

    .container {
        border-radius: 15px;;
    }

    .profile {
        height: 355px;
        width: 255px;
        padding: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px
    }

    ul {
        flex-direction: column;
        justify-content: center;
        height: 120px;
    }

    .image-div {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .content-div {
        width: 100%;
        text-align: left;
    }


    img {
        width: 90px;
        height: 90px;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 2.4rem;
    }
}