<div class="container">
	<div class="profile">
		<div class="image-div">
			<img src="assets/images/image-jeremy.png" alt="Jeremy Robson" />
		</div>
		<div class="content-div">
			<p>Report for</p>
			<h1>Jeremy Robson</h1>
		</div>
	</div>
	<div class="timeframe-select">
		<ul>
			<li [ngClass]="getTextColor('Daily')" (click)="setTimeframe('Daily')">Daily</li>
			<li [ngClass]="getTextColor('Weekly')" (click)="setTimeframe('Weekly')">Weekly</li>
			<li [ngClass]="getTextColor('Monthly')" (click)="setTimeframe('Monthly')">Monthly</li>
		</ul>
	</div>
</div>
