.dashboard-container {
    display: flex;
    flex-direction: column;
}


.timeframe-selector {
    color: blue;
}



.timesheet-grid {
    display: grid;
    grid-template-columns: 1fr;
    color: red;
    background-color: yellow;
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
    }
    
    .timesheet-grid {
        grid-template-columns: repeat(3, 1fr);
        
    }
}
