.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 325px;
    margin: 25px auto 0;
}


.timeframe-selector {
    color: inherit;
}



.timesheet-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
    }
    
    .timesheet-grid {
        grid-template-columns: repeat(3, 1fr);
        
    }
}
