:root {
    --primary-blue: hsl(246, 80%, 60%);
    --primary-work: hsl(15, 100%, 70%);
    --primary-play: hsl(195, 74%, 62%);
    --primary-study: hsl(348, 100%, 68%);
    --primary-exercise: hsl(145, 58%, 55%);
    --primary-social: hsl(264, 64%, 52%);
    --primary-selfcare: hsl(43, 84%, 65%);

    --neutral-1: hsl(226, 43%, 10%);
    --neutral-2: hsl(235, 46%, 20%);
    --neutral-3: hsl(235, 45%, 61%);
    --neutral-4: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--neutral-1);
}